@using CrmForStudents.Models.ViewModels
@model AddProductViewModel

<h1>Добавить продукт</h1>
<div class="text-danger font-weight-bold" asp-validation-summary="All"></div>

<form method="post">
    <div class="mt-3">
        <label class="form-label">Название</label>
        <input type="text" class="form-control" asp-for="Name" />
    </div>

    <div class="mt-3">
        <label class="form-label">Цена</label>
        <input type="text" class="form-control" asp-for="Price" />
    </div>

    <div class="mt-3">
        <button type="submit" class="btn btn-primary">Добавить</button>
    </div>
</form>