@using CrmForStudents.Models.ViewModels
@model List<AddProductViewModel>

<h1>Ученики</h1>

<table class="table">
    <thead>
        <tr>
            <th>Название</th>
            <th>Цена</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var student in Model)
        {
            <tr>
                <td>@student.Name</td>
                <td>@student.Price</td>
                <td>
                    <a class="btn btn-warning" asp-controller="Products" asp-action="Edit" asp-route-id="@student.Id">Редактировать</a>
                    <a class="btn btn-danger" asp-controller="Products" asp-action="Delete" asp-route-id="@student.Id">Удалить</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<div>
    <a class="btn btn-primary" asp-controller="Products" asp-action="Add">Добавить</a>
</div>