@using CrmForStudents.Models.ViewModels
@model ServiceViewModel

<h1>Редактировать занятие</h1>
<div class="text-danger font-weight-bold" asp-validation-summary="All"></div>
<form method="post">
    <div class="mt-3">
        @Html.Hidden("StudentId", Model.StudentId)
    </div>
    <div class="mt-3">
        @Html.Hidden("ProductId", Model.ProductId)
    </div>
    <div class="mt-3">
        <label class="form-label">Дата начала</label>
        <input type="datetime" class="form-control" asp-for="StartDate" />
    </div>
    <div class="mt-3">
        <label class="form-label">Дата окончания</label>
        <input type="datetime" class="form-control" asp-for="FinishDate" />
    </div>
    <div class="mt-3">
        <button type="submit" class="btn btn-primary">Изменить</button>
    </div>

</form>